//** white colors **//
$white-0: #EEEEEE;
$white-0-25: transparentize($white-0, .75);
$white-0-50: transparentize($white-0, .5);
$white-0-75: transparentize($white-0, .25);

//** black colors **//
$black-0: #202A35;
$black-1: #37414B;

//** light grey colors **//
$light-grey-0: #C8D6E5;

//** accent colors **//
$accent-0: #CC99FF;
$accent-linear-0: linear-gradient(245.83deg, #99FFFF 0%, #CC99FF 100%);

$accent-1: #00D2D3;
$accent-linear-1: linear-gradient(245deg, #00D2D3 0%, #069ABB 100%);

$accent-2: #FFB8B8;
$accent-linear-2: linear-gradient(245deg, #FFB8B8 0%, #DE8A8A 100%);

//** event colors **//
$red-0: #EB5757;
$yellow-0: #F2C94C;
$green-0: #27AE60;
