@import './../../styles/styles';

.navbarDesktop, .navbarDarkDesktop{
    display: none;
}

@include for-desktop-up{
    .navbarDesktop, .navbarDarkDesktop{
        z-index: 100;
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        max-width: 100vw;
        width: 100%;
        .inner{
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            align-content: center;
            max-width: $desktopMaxWidth;
            width: $desktopWidth;
            margin: auto;
            padding: 1rem 0;
            .logo{
                user-select: none;
                cursor: pointer;
                transition: color .1s ease-in-out;
            }
            .links{
                display: flex;
                justify-content: space-between;
                align-items: center;
                align-content: center;
                list-style-type: none;
                .link{
                    transition: color .1s ease-in-out;
                    &:not(:last-child){
                        margin-right: 1rem;
                    }
                    .userBtn{
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        align-content: center;
                        padding: .5rem 1rem;
                        min-width: 4rem;
                        min-height: 1.5rem;
                        background: $black-1;
                        color: $light-grey-0;
                        border: none;
                        border-radius: .4rem;
                        .loadingSpinner{
                            height: 1rem;
                            width: 1rem;
                            border-top: .25rem solid $acent-0;
                            border-radius: 50%;
                            opacity: .5;
                            @keyframes rotate {
                                from {
                                    transform: rotateZ(0deg);
                                }
                                to {
                                    transform: rotateZ(360deg);
                                }
                            }
                            animation: rotate .5s infinite forwards;
                        }
                    }
                }
            }
        }
    }
    .navbarDarkDesktop{
        color: $black-1;
        .logo{
            &:hover, &:focus{
                color: lighten($black-1, 7.5);
            }
            &:active{
                color: lighten($black-1, 15);
            }
        }
        .links{
            .link{
                &:hover, &:focus{
                    color: lighten($black-1, 7.5);
                }
                &:active{
                    color: lighten($black-1, 15);
                }
            }
        }
    }
    .navbarDesktop {
        .inner{
            .logo{
                &:hover, &:focus{
                    color: darken($light-grey-0, 7.5);
                }
                &:active{
                    color: darken($light-grey-0, 15);
                }
            }
            .links{
                .link{
                    &:hover, &:focus{
                        color: darken($light-grey-0, 7.5);
                    }
                    &:active{
                        color: darken($light-grey-0, 15);
                    }
                }
            }
        }
    }
}