@import '../../styles/styles';

@mixin colorTransitions {
    transition:
        background-color .3s ease-in-out,
        color .1s ease-in-out;
    &:disabled{
        background-color: $black-0;
        color: lighten($black-0, 15);
        &:hover{
            cursor: not-allowed;
        }
        &:hover, &:active, &:focus{
            background-color: $black-0;
        }
    }
}

.greenButton{
    background-color: $green-0;
    color: $black-0;
    @include colorTransitions;
    &:hover{
        cursor: pointer;
    }
    &:hover{
        background-color: lighten($green-0, 10);
    }
    &:active{
        color: lighten($black-0, 25);
    }
}

.redButton{
    background-color: $red-0;
    color: $black-0;
    @include colorTransitions;
    &:hover{
        cursor: pointer;
    }
    &:hover{
        background-color: lighten($red-0, 10);
    }
    &:active{
        color: lighten($black-0, 25);
    }
}


.settingsBtn{
    width: 2rem;
    height: 2rem;
    background-color: transparent;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    transition: background-color .3s ease-in-out;
    svg{
        height: 24px;
        width: 24px;
    }
    &:hover{
        cursor: pointer;
    }
    &:hover, &:focus {
        background-color: lighten($black-0, 7.5);
    }
    &:active {
        background-color: lighten($black-0, 15);
    }
}