@import '../../styles/styles';

.docHelper {
    width: 100%;
    padding: 10vh 2rem;
    .title{
        color: $accent-0;
        font-weight: bold;
        font-size: 1.5rem;
        padding-bottom: 5vh;
    }
    .selectedItem{
        margin-top: 1rem;
    }
}

@include for-desktop-up {
    .docHelper {
        @include alignForDesktop;
        .title{
            font-size: 2rem;
        }
        .selectedItem{
            margin-top: 1rem;
        }
    }    
}