@import './../../styles/styles';

@mixin cssMobileProperties($color, $colorLinear) {
    width: 100%;
    .header{
        position: relative;
        background: $black-1;
        &::before{
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100vw;
            height: 10vh;
            background: $colorLinear;
            z-index: 0;
        }
        padding: 0 2rem;
        .head{
            .image{
                overflow: hidden;
                position: absolute;
                top: 5vh;
                left: 2rem;
                height: 10vh;
                width: 10vh;
                border: .2rem solid $black-1;
                border-radius: 50%;
            }
            .headButtons{
                display: none;
            }
        }
        .details{
            padding: 17.5vh 0 2rem 0;
            .personal{
                padding-bottom: 1rem;
                .fullName{
                    font-size: 2rem;
                    padding-bottom: .5rem;
                }
                .id{
                    font-size: 1rem;
                    opacity: .75;
                    font-weight: 400;
                }
            }
            .tabs{
                display: flex;
                justify-content: flex-start;
                align-items: center;
                align-content: center;
                .btn, .activeBtn {
                    border: none;
                    border-radius: .8rem;
                    padding: .5rem 1rem;
                    transition: 
                        color .15s ease-in-out,
                        background-color .15s ease-in-out;

                    &:not(:last-child){
                        margin-right: 1rem;
                    }
                }
                .btn{
                    background: transparent;
                    color: $white-0;
                }
                .activeBtn{
                    background: $color;
                    color: $black-0;
                }
            }
        }
    }
}
@mixin cssDesktopProperties($color, $colorLinear) {
    @include for-desktop-up {
        width: 100%;
        .header{
            position: relative;
            background: transparent;
            padding: 0;
            &::before{
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                width: 100vw;
                height: 15vh;
                background: $colorLinear;
                z-index: 0;
            }
            .head{
                height: 22.5vh;
                max-width: $desktopMaxWidth;
                width: $desktopWidth;
                margin: auto;
                position: relative;
                .image{
                    overflow: hidden;
                    position: absolute;
                    top: 7.5vh;
                    left: 0;
                    height: 15vh;
                    width: 15vh;
                    border: .2rem solid $black-0;
                    border-radius: 50%;
                }
                .headButtons{
                    display: block;
                    position: absolute;
                    right: 0;
                    bottom: 1rem;
                    .inner{
                        min-width: 50vw;
                        display: flex;
                        align-items: flex-end;
                        align-content: flex-end;
                        justify-content: flex-end; 
                        .settingsBtn {
                            padding: .5rem 1rem;
                            border: none;
                            border-radius: .4rem;
                            background: $black-1;
                            height: 2rem;
                            color: $light-grey-0;
                            transition: background-color .1s ease-in-out;
                            img {
                                max-width: 1rem;
                                max-height: 1rem;
                                width: 1rem;
                                height: 1rem;
                            }
                            &:not(:last-child){
                                margin-right: 1rem;
                            }
                            &:hover{
                                cursor: pointer;
                            }
                            &:hover, &:focus{
                                background-color: darken( $black-1, 7.5 );
                            }
                            &:active {
                                background-color: darken( $black-1, 15 );
                            }
                        }
                    }
                }
            }
            .details{
                display: none;
            }
        }
        .info{
            padding: 2rem 0 2rem 0;
            margin: auto;
            max-width: $desktopMaxWidth;
            width: $desktopWidth;
        }
    }
}

.theme0{
    @include cssMobileProperties($accent-0, $accent-linear-0);
    @include cssDesktopProperties($accent-0, $accent-linear-0);
}
.theme1{
    @include cssMobileProperties($accent-1, $accent-linear-1);
    @include cssDesktopProperties($accent-1, $accent-linear-1);
}
.theme2{
    @include cssMobileProperties($accent-2, $accent-linear-2);
    @include cssDesktopProperties($accent-2, $accent-linear-2);
}