@import '../../../styles/styles';

.detailsAdder{
    max-height: 100%;
    height: 100%;
    padding: 2rem;
    display: flex; 
    flex-direction: column;
    .title{
        flex-grow: 0;
        font-size: 1.5rem;
        padding-bottom: 1.5rem;
    }
    .content{
        display: flex; 
        flex-direction: column;
        flex-grow: 1;
        .inputBox{
            padding: 1rem 0;
            .label{
                font-weight: 500;
                padding-bottom: .75rem;
                display: block;
            }
            .input{
                border: .15rem solid $black-0;
            }
            .info{
                padding-top: .5rem;
                opacity: .75;
                font-size: .8rem;
            }
            .error{
                padding-top: .5rem;
                font-size: .8rem;
                color: $red-0;
            }
        }
        .buttonArea{
            flex-grow: 1;
            width: 100%;
            padding: 5rem 0 1rem 0;
            display: flex;
            align-items: flex-end;
            justify-content: space-between;
            .submit, .goBack {
                max-height: 2rem;
                text-transform: capitalize;
                font-size: 1rem;
                transition: background-color .1s ease-in-out;
                &:hover{
                    cursor: pointer;
                }
                &:disabled{
                    background-color: $black-0;
                    &:hover, &:focus{
                        background-color: $black-0;
                        cursor: default;
                    }
                    &:active{
                        background-color: $black-0;
                    }
                }
            }
            .submit{
                background-color: $green-0;
                &:hover, &:focus{
                    background-color: darken( $green-0, 7.5);
                }
                &:active{
                    background-color: darken( $green-0, 10);
                }
            }
            .goBack{
                background-color: $red-0;
                &:hover, &:focus{
                    background-color: darken( $red-0, 7.5);
                }
                &:active{
                    background-color: darken( $red-0, 10);
                }
            }
        }
    }
}