@import './styles';

.error {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-direction: column;

    width: 100%;
    height: 100vh;
    .title{
        padding: 0 2rem;
        text-align: center;
        font-size: 2rem;
        margin-bottom: 1.75rem;
    }
}