@import './styles';

html,
body {
  font-family: 'Gothic A1', sans-serif;
  background-color: $black-0;
  color: $light-grey-0;
}

a {
  color: inherit;
  text-decoration: none;
}

*, *::after, *::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

button{
  padding: .4rem 1rem;
  border: none;
  border-radius: .4rem;
}